/*
@font-face {
  font-family: 'Fontname';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Fontname/Fontname-Bold_gdi.eot");
  src: url("../fonts/Fontname/Fontname-Bold_gdi.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Fontname/Fontname-Bold_gdi.woff") format("woff"),
       url("../fonts/Fontname/Fontname-Bold_gdi.ttf") format("truetype"),
       url("../fonts/Fontname/Fontname-Bold_gdi.svg#Circe-Bold") format("svg");
}
*/