{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "jquery": true
  },
  "rules": {
    "block-scoped-var": "error",
    "comma-dangle": "off",
    "consistent-return": "error",
    "curly": "error",
    "eol-last": "off",
    "func-names": "warn",
    "indent": "error",
    "keyword-spacing": "error",
    "linebreak-style": "off",
    "newline-per-chained-call": "warn",
    "no-console": "off",
    "no-extra-semi": "error",
    "no-mixed-spaces-and-tabs": "warn",
    "no-multi-assign": "error",
    "no-multi-spaces": "error",
    "no-param-reassign": "warn",
    "no-redeclare": "error",
    "no-tabs": "warn",
    "no-undef": "error",
    "no-unused-vars": "warn",
    "no-use-before-define": "error",
    "no-var": "warn",
    "object-curly-spacing": "warn",
    "object-shorthand": "warn",
    "one-var": "error",
    "operator-assignment": "warn",
    "padded-blocks": "error",
    "prefer-arrow-callback": "warn",
    "prefer-const": "off",
    "prefer-template": "warn",
    "semi": "error",
    "space-before-blocks": "error",
    "space-before-function-paren": "warn",
    "space-infix-ops": "error",
    "quotes": "warn",
    "vars-on-top": "error"
  }
}