{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "jquery": true
  },
  "globals": {
    "angular": true,
    "device": true,
    "Power3": true,
    "TweenMax": true,
    "Swiper": true
  },
  "rules": {
    "block-scoped-var": "error",
    "comma-dangle": "off",
    "consistent-return": "error",
    "curly": "error",
    "eqeqeq": "warn",
    "eol-last": "off",
    "func-names": "warn",
    "indent": "error",
    "keyword-spacing": "error",
    "linebreak-style": "off",
    "lines-around-directive": "error",
    "max-len": "warn",
    "no-else-return": "warn",
    "newline-per-chained-call": "warn",
    "no-console": "off",
    "no-extra-semi": "error",
    "no-lonely-if": "warn",
    "no-mixed-spaces-and-tabs": "warn",
    "no-multi-assign": "error",
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-multiple-empty-lines": "error",
    "no-param-reassign": "warn",
    "no-plusplus": "off",
    "no-redeclare": "error",
    "no-shadow": "warn",
    "no-tabs": "warn",
    "no-undef": "error",
    "no-underscore-dangle": "warn",
    "no-unused-expressions": "error",
    "no-unused-vars": "warn",
    "no-use-before-define": "error",
    "no-useless-concat": "warn",
    "no-var": "warn",
    "object-curly-spacing": "warn",
    "object-shorthand": "warn",
    "one-var": "error",
    "operator-assignment": "warn",
    "padded-blocks": "error",
    "prefer-arrow-callback": "warn",
    "prefer-const": "off",
    "prefer-template": "warn",
    "radix": "error",
    "semi": "error",
    "space-before-blocks": "error",
    "space-before-function-paren": "warn",
    "space-infix-ops": "error",
    "space-in-parens": "error",
    "spaced-comment": "warn",
    "quotes": "warn",
    "vars-on-top": "error"
  }
}